
body
  font-family "Josefin Sans"
  background black
  color #75F5FF
  overflow hidden

  /* カオス */
  /* background-image url("/images/umaru.png") */
  animation snow 30s linear infinite
  color blue

#wrapper
  padding 100px

#limit
  margin-top 30px
  margin-bottom 0
  font-size 100px

.red
  color red

.white
  color white

.name
  color white

#umaru, #umaru2, #umaru3
  height 300px
  width 266px
  background url("/images/umaru.png")

.flex
  display flex

