doctype HTML
html(lang='ja')
  head
    meta(charset='UTF-8')
    title BlackTimer
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8")
    script(src="/components/lodash/lodash.min.js")
    script(src="/components/moment/moment.js")
    script(src="/components/string-format-js/format.min.js")
    script(src="/components/react/react.min.js")
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/jsurl/url.min.js")
    script(src="/js/script.js")
  body
    #wrapper
      #app
        #alerts
        h1
          span#name
          span.blue Alive
          span or
          span.red Dead?
        p Time:
          span#clock
        p Limit:
          span#limitTime
        p#limit ☠:
          span.days 0
          span.hours 00
          | :
          span.minutes 00
          | :
          span.seconds 00
        #umaru-box.flex
        #controll-box(data-toggle='mouse-on-window')
          a(href='edit') Config
