doctype html
html(ng-app="timer")
  head
    meta(charset='UTF-8')
    title 論文Timer

link(href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css')
link(rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8")

script(src="/node_modules/angular/angular.js")
script(src="/js/script.js")

body
  div(id="wrapper", np-controller="timerController as app")
    h1
      span.name {{app.names}}
      | Alive
      span.white or
      span.red Dead?
    p Time:
      span(id="clock") {{ app.now }}
    p Limit:
      span(id="limitTime") {{ app.limit }}
    p(id="limit") ☠:
      span(id="leastClock") {{ app.diff }}
    div.flex
      div(id="umaru")
      div(id="umaru2")
      <!-- div(id="umaru3") -->

